body{
      margin: 0;
      padding: 0;
      background:url(Images/Dark.jpg) no-repeat;
      background-size: cover;
      font-family: sans-serif;
      color: white;
    }
    h2{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size:22px;
}
.register
{
    width:450px;
  height:700px;
  background: rgb(0,0,0,0.5);
  color:#fff;
  top:70%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  
  padding: 70px 30px;
}
.register input[type="submit"]
{
border:none;
outline: none;
height: 40px;
background:blue;
color:#fff;
font-size: 18px;
border-radius: 20px;

}
.register input{
  width:100%;
  margin-bottom: 10px;


}
.register input[type="text"]
{
  border:none;
  border-bottom: 1px solid #fff;
  background:transparent;
  outline: none;
  height: 40px;
  color:white;
}
.register input[type="submit"]:hover
{
  cursor:pointer;
  background:#ffc107;
  color: #000;

}