body{
	margin: 0;
	padding: 0;
	background: url('Images/Dark.jpg');
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.login{
	width: 320px;
	height: 500px;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
	overflow: auto;
	background: rgb(0,0,0,0.5);
}

.avatar{

	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -1px;
	left: calc(50% - 50px);
}

h1{

	margin: 30;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
	color: #ffc107;
}

.login label{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.login input{
	width: 100%;
	margin-bottom: 20px;
}

.login input[type="email"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.login input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.login input[type="submit"]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.login a {
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgray;

}

.login a:hover {
	color: #ffc107;
}

.error {
	width: 80%;
	margin: 0px ;
	padding: 5px;
	border: 1px solid #a94442;
	color: #a94442;
	background: #f2dede;
	border-radius: 5px;
	text-align: left;
}
