*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Poppins' ,sans-serif;
	background: rgb(0,0,0,0.2);

}
html,body{
	display: grid;
	height: 100%;
	text-align: center;
}
body{
	overflow-y: hidden;

}
.comp{
	color: white;
	transform: translate(20%, -30%);
	width: 300px;
	height: 510px;
	overflow-y: scroll;
}
.revi{
	background-color: black;
	color:white;
	transform: translate(130%, -140%);
	width: 400px;
	height: 200px;
	overflow-y: scroll;
}
#rat{
	color: #fd4;
}

img{
	width: 200px;
	height: 200px;
}
.rate{
	color: #fd4;	
}
.container{
	width: 400px;
	overflow: auto;
	height: 300px;
	padding: 20px 30px;
	border: 1px solid #444;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transform: translate(140%, -290%);
	background: rgb(0,0,0,0.2);

}
h3{
	color: white;
	font-weight: bold;
	text-decoration: underline;
}

.cart{
	background-color: black;
	color: white;
	transform: translate(10%,-890%);
	width: 300px;
}

#add{
	text-align: center;
	background-color: white;
}
.container .star-widget input{

	display: none;
}

.star-widget label{
	font-size: 30px;
	color: #444;
	padding: 10px;
	float: right;
	transition: all 0.2s ease;
}


input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
	color: #fd4;
}

input:checked ~ label{
	color: #fd4;
}

input#rate-5:checked ~ label{
	color: #fd7;
	text-shadow: 0 0 20px #952;
}

input#rate-1:checked ~ header:before{
	content: "Awful";
}

input#rate-2:checked ~ header:before{
	content: "Don't like";
}

input#rate-3:checked ~ header:before{
	content: "Nice product";
}

input#rate-4:checked ~ header:before{
	content: "Liked it";
}

input#rate-5:checked ~ header:before{
	content: "Awesome!";
}

form header{
	width: 100%;
	font-size: 25px;
	color: #fe7;
	font-weight: 500;
	margin: 5px 0 20px 0;
	text-align: center;
	transition: all 0.2s ease;

}



form .textarea{
	height: 100px;
	width: 100%;
	overflow: hidden;
}

form .textarea textarea{
	height: 80px;
	width:100%;
	outline: none;
	border: 1px solid #333;
	background:#222;
	padding: 10px;
	font-size: 15px;
	color: #eee;
	resize: none;
}
button{
	height: 30px;
	width: 100%;
	
	border: 1px solid #444;
	outline: none;
	background: #fff;
	color: #999;
	font-size: 17px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.3s ease;
	border-radius: 20px;
}

form .btn{
	height: 45px;
	width: 100%;
	
}

form .btn button{
	height: 100%;
	width: 100%;
	border: 1px solid #444;
	outline: none;
	background: #fff;
	color: #999;
	font-size: 17px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.3s ease;
	border-radius: 20px;
}

form .btn button:hover{

	background: #1b1b1b;

}
h4
{
	font-size: 20px;
}